{% extends "layouts/dashboard_base.html" %}

{% block title %}
My Profile
{% endblock %}

{% block heading %}
My Profile
{% endblock %}

{% block sidebar %}

<a href="{{ url_for('staff.dashboard') }}">
Dashboard
</a>

<a class="active-menu"
href="{{ url_for('staff.profile') }}">
Profile
</a>

{% endblock %}

{% block dashboard_content %}

<div class="row justify-content-center">
<div class="col-lg-7">
<div class="card shadow">
<div class="card-body">
<h3 class="mb-4">

Update Profile

</h3>

<form method="POST">

{{ form.hidden_tag() }}

<div class="mb-3">

{{ form.phone.label }}

{{ form.phone(class="form-control") }}

</div>

<div class="mb-3">

{{ form.bio.label }}

{{ form.bio(
class="form-control",
rows="5") }}

</div>

{{ form.submit(
class="btn btn-success") }}

</form>
</div>
</div>
</div>
</div>

{% endblock %}