

{% extends "layouts/dashboard_base.html" %}

{% block title %}
All Treks
{% endblock %}

{% block heading %}
All Treks
{% endblock %}

{% block sidebar %}



<a href="{{ url_for('admin.dashboard') }}">
    <i class="bi bi-grid"></i>
    Dashboard
</a>

<a href="{{ url_for('admin.all_treks') }}">
    <i class="bi bi-map"></i>
    Treks
</a>

<a href="{{ url_for('admin.users') }}">
    <i class="bi bi-people"></i>
    Users
</a>

<a href="{{ url_for('admin.staff') }}">
    <i class="bi bi-person-workspace"></i>
    Staff
</a>


{% endblock %}
{% block dashboard_content %}

<div class="row mb-4">

    <div class="col-md-4">
        <div class="stat-card">
            <h6>Total Treks</h6>
            <h2>{{ treks|length }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="stat-card">
            <h6>Available</h6>

            <h2>
                {{ treks|selectattr("status","equalto","OPEN")|list|length }}
            </h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="stat-card">
            <h6>Closed</h6>
            <h2>

                {{ treks|selectattr("status","equalto","CLOSED")|list|length }}

            </h2>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>All Treks</h2>
    <a
        href="{{ url_for('admin.create_trek') }}"
        class="btn btn-success">

        + Create Trek
    </a>
</div>

<form method="GET" class="mb-4">
<div class="input-group">

<input
type="text"
name="search"
class="form-control"
placeholder="Search trek..."
value="{{ search }}">

<button class="btn btn-success">
<i class="bi bi-search"></i>

Search
</button>
</div>
</form>



    <div class="table-card">

<table class="table table-hover align-middle mb-0">

<thead>

<tr>

<th>ID</th>

<th>Image</th>
<th>Name</th>

<th>Location</th>

<th>Difficulty</th>

<th>Slots</th>

<th>Status</th>

<th>Actions</th>

</tr>

</thead>

<tbody>

{% for trek in treks %}

<tr>

<td>{{ trek.id }}</td>
<td>
    <a href="{{ url_for('admin.trek_details',
        trek_id=trek.id) }}">

        <img
            src="{{ url_for(
            'static',
            filename='uploads/' + trek.image) }}"
            width="90"
            height="60"
            style="object-fit:cover;border-radius:10px;">

    </a>
</td>

<td>

<a
href="{{ url_for('admin.trek_details',
trek_id=trek.id) }}"
class="fw-bold text-decoration-none">

{{ trek.trek_name }}

</a>

</td>

<td>{{ trek.location }}</td>

<td>

{% if trek.difficulty=="Easy" %}

<span class="badge bg-success">

Easy

</span>

{% elif trek.difficulty=="Moderate" %}

<span class="badge bg-warning text-dark">

Moderate

</span>

{% else %}

<span class="badge bg-danger">

Hard

</span>

{% endif %}

</td>

<td>{{ trek.available_slots }}</td>

<td>

<span class="badge bg-primary">

{{ trek.status }}

</span>

</td>

<td>

<a
href="{{ url_for('admin.edit_trek', trek_id=trek.id) }}"
class="btn btn-warning btn-sm">

<i class="bi bi-pencil"></i>

</a>

<a
href="{{ url_for('admin.delete_trek', trek_id=trek.id) }}"
class="btn btn-danger btn-sm">

<i class="bi bi-trash"></i>

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>
</div>
{% endblock %}