{% extends "layouts/dashboard_base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block heading %}
Admin Dashboard
{% endblock %}

{% block sidebar %}

<a href="#"><i class="bi bi-house"></i> Dashboard</a>
<a href="#"><i class="bi bi-map"></i> Treks</a>
<a href="#"><i class="bi bi-people"></i> Users</a>
<a href="#"><i class="bi bi-person-workspace"></i> Staff</a>
<a href="#"><i class="bi bi-journal-check"></i> Bookings</a>
{% endblock %}
{% block dashboard_content %}

<div class="stats-grid">

<div class="stat-card">

<div class="stat-icon">

<i class="bi bi-map"></i>

</div>

<div class="stat-title">

Active Treks

</div>

<div class="stat-value">

{{ total_treks }}

</div>

<div class="stat-sub">

Adventure Routes

</div>

</div>

<div class="stat-card">

<div class="stat-icon">

<i class="bi bi-people"></i>

</div>

<div class="stat-title">

Registered Users

</div>

<div class="stat-value">

{{ total_users }}

</div>

<div class="stat-sub">

Trekkers

</div>

</div>

<div class="stat-card">

<div class="stat-icon">

<i class="bi bi-person-workspace"></i>

</div>

<div class="stat-title">

Available Staff

</div>

<div class="stat-value">

{{ total_staff }}

</div>

<div class="stat-sub">

Guides

</div>

</div>

<div class="stat-card">

<div class="stat-icon">

<i class="bi bi-journal-check"></i>

</div>

<div class="stat-title">

Bookings

</div>

<div class="stat-value">

{{ total_bookings }}

</div>

<div class="stat-sub">

Confirmed

</div>

</div>

</div>

<div class="row">

<div class="col-lg-8">

<div class="quick-actions">

<h4>

Quick Actions

</h4>

<br>

<button class="action-btn green">

Create Trek

</button>

<button class="action-btn blue">

Approve Staff

</button>

<button class="action-btn orange">

Reports

</button>

</div>

</div>

<div class="col-lg-4">

<div class="activity-card">

<h4>

Recent Activity

</h4>

<div class="activity-item">

<div class="activity-icon">

<i class="bi bi-check2"></i>

</div>
<div>

<div class="activity-title">

System Ready

</div>

<div class="activity-time">

Waiting for first booking

</div>
</div>
</div>

<div class="activity-item">

<div class="activity-icon">

<i class="bi bi-person-plus"></i>

</div>

<div>

<div class="activity-title">

New Staff Registration

</div>

<div class="activity-time">

Pending Approval

</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}