{% extends "layouts/dashboard_base.html" %}

{% block title %}
Trek History
{% endblock %}

{% block heading %}
My Trek History
{% endblock %}

{% block sidebar %}

<a href="{{ url_for('trekker.dashboard') }}">
    Dashboard
</a>

<a href="{{ url_for('trekker.my_bookings') }}">
    My Bookings
</a>

<a class="active-menu"
href="{{ url_for('trekker.history') }}">
    Trek History
</a>

{% endblock %}
{% block dashboard_content %}
<div class="table-responsive">
<table class="table table-hover shadow">
<thead>
<tr>

<th>Trek</th>
<th>Booking Date</th>
<th>Status</th>
<th>Payment</th>

</tr>
</thead>
<tbody>
{% for booking in bookings %}

<tr>
<td>{{ booking.trek.trek_name }}</td>
<td>{{ booking.booking_date.strftime("%d-%m-%Y") }}</td>
<td>
<span class="badge bg-success">

{{ booking.booking_status }}
</span>

</td>
<td>

<span class="badge bg-warning text-dark">

{{ booking.payment_status }}

</span>
</td>
</tr>

{% endfor %}

</tbody>
</table>
</div>
{% endblock %}